name: CICD for jupyter 

on: 
 push:
   branches: [main]

env:
  DOCKER_REPO: "jupyter-test"

jobs:
  build:
    runs-on: self-hosted
    env:
      DOCKER_CLI_HINTS: disabled
    steps:
      - name: Checkout code 
        uses: actions/checkout@v6.0.2
      - name: Docker Login
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker Image
        run: | 
          docker build -t ${{ secrets.DOCKER_USERNAME }}/$DOCKER_REPO:${{ github.run_id }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/$DOCKER_REPO:${{ github.run_id }}
          
  

                
